USE master;
GO

-- SI EXISTE, LA BORRA (opcional, para pruebas)
IF DB_ID('InfoUsuario') IS NOT NULL
BEGIN
    ALTER DATABASE InfoUsuario SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE InfoUsuario;
END
GO

-- CREA LA BASE DE DATOS SIN RUTA EXPLÍCITA (usa la ruta por defecto del servidor)
CREATE DATABASE InfoUsuario;
GO

-- CREA EL LOGIN 'alumno' SI NO EXISTE
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = 'alumno')
BEGIN
    CREATE LOGIN alumno WITH PASSWORD = 'Alumn0@123'; -- Cambiá por una segura
END
GO

-- CREA EL USUARIO DENTRO DE LA BASE DE DATOS
USE InfoUsuario;
GO
CREATE USER alumno FOR LOGIN alumno WITH DEFAULT_SCHEMA = dbo;
GO

-- CREA LA TABLA INTEGRANTE
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE TABLE dbo.Integrante (
    Id INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Nombre VARCHAR(50) NOT NULL,
    Contraseña VARCHAR(50) NOT NULL,
    AmorPlatonico VARCHAR(50) NOT NULL,
    YoutuberFav VARCHAR(50) NOT NULL,
    ComidaFav VARCHAR(50) NOT NULL,
    MarcaDeRopaFav VARCHAR(50) NOT NULL,
    EquipoDeFutbolFav VARCHAR(50) NOT NULL,
    Equipo VARCHAR(50) NOT NULL,
    Foto VARCHAR(50) NOT NULL
);
GO

-- OPCIONAL: CONFIGURACIONES ADICIONALES
ALTER DATABASE InfoUsuario SET COMPATIBILITY_LEVEL = 140;
ALTER DATABASE InfoUsuario SET RECOVERY FULL;
ALTER DATABASE InfoUsuario SET AUTO_UPDATE_STATISTICS ON;
ALTER DATABASE InfoUsuario SET PAGE_VERIFY CHECKSUM;
GO
