@{
    ViewData["Title"] = "Index";
}

<div>
<form action="/Home/IniciarSesion" method="post">
    <label for="Nombre">Usuario:</label>
    <input type="text" id="Nombre" name="Nombre" required />

    <label for="Contraseña">Contraseña:</label>
    <input type="password" id="Contraseña" name="Contraseña" required />

    <button type="submit">Iniciar Sesión</button>
s</form>
</div>
