@{
    ViewData["Title"] = "Registro de Integrante";
}

<h2 class="registro-titulo">Registro de Integrante</h2>

<form asp-action="Registrarse" asp-controller="Home" method="post" enctype="multipart/form-data" class="registro-form">
    <div class="form-group">
        <label for="Nombre" class="form-label">Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" required class="form-input" />
    </div>

    <div class="form-group">
        <label for="Contraseña" class="form-label">Contraseña:</label>
        <input type="password" name="Contraseña" id="Contraseña" required class="form-input" />
    </div>

    <div class="form-group">
        <label for="AmorPlatonico" class="form-label">Amor Platónico:</label>
        <input type="text" name="AmorPlatonico" id="AmorPlatonico" class="form-input" />
    </div>

    <div class="form-group">
        <label for="YoutuberFav" class="form-label">Youtuber Favorito:</label>
        <input type="text" name="YoutuberFav" id="YoutuberFav" class="form-input" />
    </div>

    <div class="form-group">
        <label for="MarcaDeRopaFav" class="form-label">Marca de Ropa Favorita:</label>
        <input type="text" name="MarcaDeRopaFav" id="MarcaDeRopaFav" class="form-input" />
    </div>

    <div class="form-group">
        <label for="ComidaFav" class="form-label">Comida Favorita:</label>
        <input type="text" name="ComidaFav" id="ComidaFav" class="form-input" />
    </div>

    <div class="form-group">
        <label for="EquipoDeFutbolFav" class="form-label">Equipo de Fútbol Favorito:</label>
        <input type="text" name="EquipoDeFutbolFav" id="EquipoDeFutbolFav" class="form-input" />
    </div>

    <div class="form-group">
        <label for="Equipo" class="form-label">Equipo:</label>
        <select name="Equipo" id="Equipo" required class="form-select">
            <option value="" disabled selected>-- Seleccione un equipo --</option>
            <option value="Caricaturas">Caricaturas</option>
            <option value="LBM">LBM</option>
            <option value="Streamers">Streamers</option>
            <option value="Futbolistas">Futbolistas</option>
        </select>
    </div>

    <div class="form-group">
        <label for="FotoFile" class="form-label">Foto:</label>
        <input type="file" name="FotoFile" id="FotoFile" class="form-input" />
    </div>

    <button type="submit" class="form-btn">Registrarse</button>
    @if (ViewBag.SeRegistro == false)
    {
        <h2 class="registro-error">@ViewBag.Mensaje</h2>
    }
</form>